<h1>Creating Fake Posts</h1>

<form action="/admin/posts/generate-fake-posts" method="post">
    <div class="form-group">

        <input type="number" class="form-control" name="amount">
    </div>
    <button type="submit"> Generate</button>
</form>