

<!DOCTYPE html>
<html lang="en">

{{>home/head}}

<body>

<!-- Navigation -->
{{>home/home-nav}}

<!-- Page Content -->
<div class="container">

{{{body}}}
</div>
<!-- /.container -->

<!-- Footer -->
{{>home/footer}}


</body>

</html>
