<h1> create posts </h1>
{{#each errors}}
    <div class="alert alert-danger"> {{this}}</div>
{{/each}}
<form action="/admin/posts/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title"> Title</label>
        <input type="text" name="title" id="title" class="form-control">

    </div>
    <div class="form-group">
        <label for="file"> File</label>
        <input type="file" name="file" id="file" class="form-control">

    </div>
    <div class="form-group">
        <label for="status"> Status</label>
        <select name="status" id="status" class="form-control">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
        </select>

    </div>

    <div class="form-group">
        <label for="category"> Categories</label>
        <select name="category" id="category" class="form-control">
            {{# each Categories}}
                <option value="{{id}}"> {{name}}
                </option>
            {{/each}}

        </select>

    </div>
    <div class="form-check" style="margin: 18px">
        <label for="allowComments">
            <input type="checkbox" name="allowComments" id="allowComments" class="form-check-input" value="true">
            Allow Comments
        </label>
    </div>
    <div class="form-group">
        <label for="body"> Body</label>
        <textarea name="post" id="title" rows="10" class="form-control">
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary"> Submit</button>
</form>